nav.navbar.is-fixed-bottom.is-link
  div.navbar-brand
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
  div.navbar-menu(id='navbar')
    div.navbar-start
      a.navbar-item Home
      a.navbar-item Home
      a.navbar-item Home
      a.navbar-item Home
      a.navbar-item.js-modal-trigger(data-target="login-modal") Login

